@import './Global.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.App__container {
    @extend %flex;
}

.Landing {
    width: 50%;
    height: auto;
    background: $clear-color;
}

.Desc {
    width: 50%;
    height: 100vh;
    background: $primary-color;
}

