@import '../Global.scss';

.Info {
    width: 930px;
    height: auto;
    color: $clear-color;
    font-family: $Font2;
    margin: 0 0 30px 30px;
    .Info__container {
        width: 100%;
        border-bottom: 2px solid $secundary-color;
        padding: 40px 0 10px 20px;
    }
    h1 {
        text-transform: uppercase;
        color: $secundary-color;
        font-size: 1rem;
        margin-bottom: 10px;
        width: 100%;
    }
    h2 {
        font-size: 1.4rem;
        font-weight:300;
        margin-bottom: 10px;
        width: 70%;
    }
    p {
        font-family: $Font1;
        opacity: 0.9;
        font-size: 0.9rem;
        padding-bottom: 30px;
        width: 60%;
        padding-right: 10px;
    }
}