@import '../Global.scss';

%flex {
    display: flex;
    align-items: center;
}

.statistics--profile {
    @extend %box;
    display: flex;
	width: 450px;
	height: 90px;
	padding-top: 20px;
	margin: 0 auto;
	justify-content: space-around;
    font-family: $Font2;
    h3 {
        text-align: center;
        font-family: 2rem;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    span {
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        opacity: 0.5;
    }
}